:root {
    --bg-color: #24353F;
    --main-color: #17a2b8;
    --white-color: #fff;
    --form-shadow: rgba(0, 0, 0, 1);
    --placeholder-color: #888E91;
    --border-color: #ced4da;
}
body {
    background-color: var(--bg-color);
}
.section {
    background-color: var(--bg-color);
}
.nav-shadow {
    box-shadow: -0.3125rem .125rem 3.375rem -0.5625rem var(--form-shadow);
}
.login-header {
    color: var(--main-color);
    font-size: 2.5rem;
    font-family: "Titillium Web", sans-serif;
    font-weight: 500;
}
.form {
    background-color: var(--bg-color);
    box-shadow: -0.3125rem .125rem 3.375rem -0.5625rem var(--form-shadow);
}
.form-control {
    border-radius: .25rem;
}
input{
    background-color: transparent !important;
    color: var(--white-color) !important;
}
input:focus, textarea:focus {
    box-shadow: 0 0 0 0 transparent !important;
}
#loginEmail::placeholder , #loginPassword::placeholder , 
#signupName::placeholder, #signupEmail::placeholder , 
#signupPassword::placeholder  {
    color: var(--placeholder-color);
    font-size: 1.0625rem;
}
.btn-outline-info {
    color: var(--main-color);
    background-color: transparent;
    border-color: var(--main-color) !important;
    border-radius: .25rem;
}
.btn-outline-info:hover {
    color: var(--white-color);
    background-color: var(--main-color);
    border-color: var(--main-color);
    
}
.span-login:hover {
    text-decoration: underline;
    cursor: pointer;
}

